body {
  font-family: 'Lora', serif;
  background-color: #fcfcfc;
}

.dash-logout {
  cursor: pointer;
}

.logo-text {
  color: black;
  font-family: 'Tillana', cursive;
  font-size: 50px;
}

.hotel-buttons {
  margin-top: 10px;
}

.nav-text {
  color: black
  margin-right: 50px;
}

.small-loader {
  height: 30px;
  width: 30px;
}

.result-row {
  margin-top: 30px;
}

.result-button {
  margin-top: 20px;
}

.hotelImage {
  max-width: 100%; 
  display:block; 
  height: auto;
}

.opaque {
  opacity: 0.7;
}

.bolded {
  font-weight: bold;
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.manager-name {
  font-weight: bold;
}

.smallBolded {
  font-size: 14px;
  font-weight: bold;
}

.search-panel {
  margin-top: 70px;
}

.header {
  font-size: 25px;
}

#image-display {
  background-image: url("../img/tokyo-hotel-room.jpg");
  height: 500px;
}

#login-image-display {
  
}

#manager-profile {
  margin-top: 40px;
}

#manager-profile:hover {
  background-color: white;
}

.image-size {
  height: 160px;
  width: 160px;
  border-radius: 80px;
}

header, main, footer, #logged-in-nav {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.nav-bar-back {
  background-color: rgba(38, 50, 56, .7);
}

.icon-info {
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 6px; height: 2px;
}

::-webkit-scrollbar-track {
 background-color: #ddd;
 opacity: .2;
 margin: 2px 0px;
 border-radius: 5px;
}

::-webkit-scrollbar-thumb {
 background-color: #4F4F4F ;
 border-radius: 5px;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 80px;
}

.navbar-fixed {
  height: 80px;
}

.padded {
  padding: 8px;
}