/*
html { 
  background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

html {
    position: relative;
    min-height: 100%;
}

body {
  font-family: 'Lora', serif;
  background-color: #fcfcfc;
  margin: 0 0 100px;
}

.dash-logout {
  cursor: pointer;
}

.logo-text {
  color: black;
  font-family: 'Tillana', cursive;
  font-size: 50px;
}

.hotel-buttons {
  margin-top: 10px;
}

.nav-text {
  color: black
  margin-right: 50px;
}

.small-loader {
  height: 30px;
  width: 30px;
}

.result-row {
  margin-top: 30px;
}

.result-button {
  margin-top: 20px;
}

.hotelImage {
  max-width: 100%; 
  display:block; 
  height: auto;
}

.opaque {
  opacity: 0.7;
}

.bolded {
  font-weight: bold;
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.manager-name {
  font-weight: bold;
}

.smallBolded {
  font-size: 14px;
  font-weight: bold;
}

.search-panel {
  margin-top: 70px;
}

.header {
  font-size: 25px;
}

#image-display {
  background-image: url("../img/tokyo-hotel-room.jpg");
  height: 500px;
}

#login-image-display {
  background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#manager-profile {
  margin-top: 40px;
}

#manager-profile:hover {
  background-color: white;
}

.image-size {
  height: 160px;
  width: 160px;
  border-radius: 80px;
}

header, main, #logged-in-nav {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.nav-bar-back {
  background-color: rgba(38, 50, 56, .7);
}

.icon-info {
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 6px; height: 2px;
}

::-webkit-scrollbar-track {
 background-color: #ddd;
 opacity: .2;
 margin: 2px 0px;
 border-radius: 5px;
}

::-webkit-scrollbar-thumb {
 background-color: #4F4F4F ;
 border-radius: 5px;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 80px;
}

.navbar-fixed {
  height: 80px;
}

.padded {
  padding: 8px;
}

.hotel-but {
  margin-top: 5px;
  margin-bottom: 5px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.hotel-add-form {
  margin-top: 20px;
}

.footer-position {
  z-index: 500;
  padding-left: 240px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-overide {
  z-index: 700;
}

.footer-padded {
  padding-top: 20px
}

.footer {
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  height: 100px !important;
  width: 100% !important;
}
