<script>
  //document.getElementById("uploadBtn").onchange = function () {
    //console.log('Chosen');
    //document.getElementById("uploadFile").value = this.value;
  //};
</script>




<div class="row">
  
  <h4 class="col s12 m12 l3 black-text">Add Hotel</h4>

  <form class="col s12 m12 l6 black-text pure-form hotel-add-form" enctype="multipart/form-data" data-ng-submit="saveHotel()">
    <div class="row">
      <div class="input-field col s12">
        Hotel Name: <input id="hotelName" type="text" placeholder="Hotel Name" data-ng-model="hotelName">
      </div>
      <div class="input-field col s12">
        Star Rating: <input id="hotelRating" type="number" class="validate" placeholder="3" data-ng-model="hotelRating">
      </div>
      <div class="input-field col s12">
        <span>Available for booking?</span>
        <p>
          <input type="radio" ng-model="hotelBookable" name="available" id="availableYes" value="yes" checked="checked">
          <label for="availableYes" class="">Yes</label>
        </p>
        <p>
          <input type="radio" ng-model="hotelBookable" name="available" id="availableNo" value="no">
          <label for="availableNo" class="">No</label>
        </p>
      </div>
      <div class="input-field col s12">
        Upload Picture:
        <div class="fileUpload btn">
          <span>Choose File</span>
          <input id="uploadBtn" class="upload" type="file" ng-file-select="fileSelected($files)" accept="'image/*'" required="" />
        </div>Max size - 1MB
      </div>
      <div class="input-field col s12">
        State: <input id="hotelState" type="text" class="validate" placeholder="State" data-ng-model="hotelState">
      </div>
      <div class="input-field col s12">
        City: <input id="hotelCity" type="text" class="validate" placeholder="City" data-ng-model="hotelCity">
      </div>
      <div class="input-field col s12">
        Address: <input id="hotelAddress" type="text" class="validate" placeholder="Full Address" data-ng-model="hotelAddress">
      </div>
      <div class="input-field col s12">
        Phone Number: <input id="hotelPhone" type="text" class="validate" placeholder="Phone" data-ng-model="hotelPhone">
      </div>
      <div class="input-field col s12">
        Description: <textarea id="hotelDescription" placeholder="More Infomation..." data-ng-model="hotelDescription"></textarea>
      </div>
      <div class="input-field col s12">
        Website: <input id="hotelWebsite" type="text" class="validate" placeholder="Format: http://www.example.com" data-ng-model="hotelWebsite">
      </div>
      <p data-ng-show="hotelAddErrorMessage" class="input-field col s12 red-text bolded">
        {{hotelAddErrorMessage}}
      </p>
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light green" type="submit" name="action">
          Save Hotel
        </button> <br>
      </div>
      <div class="input-field col s12 center">
        <img src="img/ajax.gif" ng-show="cloudinaryRequest" class="small-loader">
      </div>
    </div>
  </form>


</div>