


<div class="row">
  
  <h4 class="col s12 m12 l4 black-text">Add Hotel</h4>
  <form class="col s12 m12 l6 black-text" enctype="multipart/form-data" data-ng-submit="saveHotel()">
    <div class="row">
      <div class="input-field col s12">
        <input id="hotelName" type="text" class="validate" data-ng-model="hotelName">
        <label for="hotelName">Hotel Name</label>
      </div>
      <div class="input-field col s12">
        <input id="hotelRating" type="number" class="validate" data-ng-model="hotelRating">
        <label for="hotelRating">Star Rating (example: 5)</label>
      </div>
      <div class="input-field col s12">
        <span>Available for booking?</span>
        <p>
          <input type="radio" ng-model="hotelBookable" name="available" id="availableYes" value="yes" checked>
          <label for="availableYes" class="">Yes</label>
        </p>
        <p>
          <input type="radio" ng-model="hotelBookable" name="available" id="availableNo" value="no">
          <label for="availableNo" class="">No</label>
        </p>
      </div>
      <div class="input-field col s12 transparent-text">
        <p>Spacing</p>
      </div>
      <div class="file-field input-field input-field col s12">
        <input class="file-path validate" type="text" placeholder="Hotel Image"/>
        <div class="btn">
          <span>File</span>
          <input type="file" ng-file-select="fileSelected($files)" accept="'image/*'" required="" />
        </div>
      </div>
      <div class="input-field col s12">
        <input id="hotelState" type="text" class="validate" data-ng-model="hotelState">
        <label for="hotelState">State</label>
      </div>
      <div class="input-field col s12">
        <input id="hotelCity" type="text" class="validate" data-ng-model="hotelCity">
        <label for="hotelCity">City</label>
      </div>
      <div class="input-field col s12">
        <textarea id="hotelAddress" class="materialize-textarea" data-ng-model="hotelAddress"></textarea>
        <label for="hotelAddress">Full Address</label>
      </div>
      <div class="input-field col s12">
        <textarea id="hotelDescription" class="materialize-textarea" data-ng-model="hotelDescription"></textarea>
        <label for="hotelDescription">Description</label>
      </div>
      <div class="input-field col s12">
        <input id="hotelWebsite" type="text" class="validate" data-ng-model="hotelWebsite">
        <label for="hotelWebsite">Website (example: http://www.example.com)</label>
      </div>
      <p data-ng-show="hotelAddErrorMessage" class="input-field col s12 red-text bolded">
        {{hotelAddErrorMessage}}
      </p>
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light green" type="submit" name="action">
          Save Hotel
        </button> <br>
      </div>
      <div class="input-field col s12 center">
        <img src="img/ajax.gif" ng-show="cloudinaryRequest" class="small-loader">
      </div>
    </div>
  </form>


</div>