<div class="row">
  <div class="col s12 white-text grey"><span class="right"></span></div>
  <div id="image-display" class="col s12">
      
    <div class="row search-panel center">

      <div class="col s12 m3 l3 transparent-text">Text</div>

      <div class="col s12 m6 l6 center">
        <div class="card-panel black opaque">
          <div class="row">
            <div class="col s12 header white-text">
              Hotel Search
            </div>
            <form class="col s12 white-text" ng-submit="search()">
              <div class="row">
                <div class="input-field col s6">
                  <input id="state" type="text" class="validate" data-ng-model="state">
                  <label for="state">State</label>
                </div>
                <div class="input-field col s6">
                  <input id="city" type="text" class="validate" data-ng-model="city">
                  <label for="state">City</label>
                </div>
                <div class="input-field col s12">
                  <button class="btn waves-effect waves-light" type="submit" name="action">Search</button>
                </div>
              </div>
            </form>
            <div class="col s12 card-panel transparent white-text">
              <div class="col s12 white-text bolded" ng-bind="errorMessage"></div>
            </div>
          </div>
        </div>
        </div>



        <div class="col s12 m3 l3 transparent-text"></div>

      </div>
    </div>
</div>


<div class="row grey lighten-4 center">

  <div class="col s12 m1 transparent-text">Text</div>

  <div class="col s12 m5">
    <div class="icon-block">
      <h2 class="center light-blue-text"><i class="mdi-social-group"></i></h2>
      <h5 class="center bold">Ease of Use</h5>

      <p class="light icon-info">Searching through Hot-Res Database is as simple as hitting a switch.</p>
    </div>
  </div>

  <div class="col s12 m5">
    <div class="icon-block">
      <h2 class="center light-blue-text"><i class="mdi-action-settings"></i></h2>
      <h5 class="center bold">Simple Hotel Management</h5>

      <p class="light icon-info">With our simple intutive Hotel Managers' Dashboard, keeping track of hotel bookings and other housekeeping can't get any more simpler.</p>
    </div>
  </div>

  <div class="col s12 m1 transparent-text">Text</div>
</div>



<div class="row center">

  <div class="col s12 m12 black-text result-row">
    <div class="row">
      <div class="col s12 m12"><h5 class="center bold">Featured Hotels</h5></div>
      <!--div class="col s12 m12">{{currentPage}}</div-->
      <div class="col s12 m3 result-row" dir-paginate="hotel in featuredHotels | itemsPerPage: pageSize" current-page="currentPage">
        <div class="row">
          <div class="col s12"><h6 class="center bold">{{hotel.name}}</h6></div>
          <div class="col s12"><img class="hotelImage" ng-src="{{hotel.pictureUrl}}"></div>
          <div class="col s12"><span class="left"><i class="mdi-action-home"></i> {{hotel.address}}</span></div>
          <div class="col s12"><span class="left"><i class="mdi-communication-call"></i> {{hotel.phone}}</span>
        </div>
      </div>
      <div class="col s12 m12">
        <!--dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="libs/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls-->
      </div>
    </div>
  </div>

</div>