


<div class="row">
  
  <h4 class="col s12 m6 l4 black-text">Profile Edit</h4>
  <form class="col s12 m6 l4 black-text">
    <div class="row">
      <div class="input-field col s12">
        <input id="managerName" type="text" class="validate" data-ng-model="managerName">
        <label for="managerName">Manager's Name</label>
      </div>
      <div class="input-field col s12">
        <input id="managerPictureUrl" type="text" class="validate" data-ng-model="managerPictureUrl">
        <label for="managerPictureUrl">Manager's ImageUrl</label>
      </div>
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" type="submit" name="action" data-ng-click="saveManager()">
          Save
        </button> <br>
        <p data-ng-show="profileUpdateErrorMessage" class="red-text bolded">{{profileUpdateErrorMessage}}</p>
      </div>
    </div>
  </form>


</div>