


<div class="row">
  
  <div class="col s12 m12 l2 transparent-text">Text</div>
  <div class="col s12 m12 l8">
    <div class="row">
      <h4 class="col s12 m12 l12 black-text">Profile Edit</h4>
      <form class="col s12 m12 l12 black-text">
        <div class="row">
          <div class="input-field col s12">
            <input id="managerName" type="text" class="validate" data-ng-model="managerName">
            <label for="managerName">Manager's Name</label>
          </div>
          <div class="file-field input-field input-field col s12">
            <input class="file-path validate" type="text"/>
            <div class="btn">
              <span>File</span>
              <input type="file" ng-file-select="fileSelected($files)" accept="'image/*'" />
            </div>
          </div>
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action" data-ng-click="saveManager()">
              Save
            </button> <br>
            <p data-ng-show="profileUpdateErrorMessage" class="red-text bolded">{{profileUpdateErrorMessage}}</p>
          </div>
          <div class="input-field col s12 center">
            <img src="img/ajax.gif" ng-show="cloudinaryRequest" class="small-loader">
          </div>
        </div>
      </form>
    </div>
  </div> 
  <div class="col s12 m12 l2 transparent-text">Text</div>

</div>