


<div class="row">
  
  <div class="col s12 m12 l2 transparent-text">Text</div>
  <div class="col s12 m12 l8">
    <div class="row">
      <h4 class="col s12 m12 l12 black-text">Profile Edit</h4>
      <form class="col s12 m12 l12 black-text pure-form hotel-add-form">
        <div class="row">
          <div class="input-field col s12">
            Name: <input id="managerName" type="text" class="validate" placeholder="Name" data-ng-model="managerName">
          </div>
          <div class="input-field col s12">
            Upload Picture:
            <div class="fileUpload btn">
              <span>Choose File</span>
              <input id="uploadBtn" class="upload" type="file" ng-file-select="fileSelected($files)" accept="'image/*'" />
            </div>Max size - 1MB
          </div>
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light green" type="submit" name="action" data-ng-click="saveManager()">
              Save
            </button> <br>
            <p data-ng-show="profileUpdateErrorMessage" class="red-text bolded">{{profileUpdateErrorMessage}}</p>
          </div>
          <div class="input-field col s12 center">
            <img src="img/ajax.gif" ng-show="cloudinaryRequest" class="small-loader">
          </div>
        </div>
      </form>
    </div>
  </div> 
  <div class="col s12 m12 l2 transparent-text">Text</div>

</div>