<div class="row">
    <div class="col s12 grey white-text"><span class="right"> Contact... </span></div>
    <div id="login-image-display" class="col s12">
      
      <div class="row search-panel center">

        <div class="col s12 m3 l4 transparent-text">Text</div>

        <div class="col s12 m6 l4">
          <div class="row">

            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#loginTab">Log In</a></li>
                <li class="tab col s6"><a href="#signupTab">Sign Up</a></li>
              </ul>
            </div>

            <div id="loginTab" class="col s12 card-panel">
              <div class="row">
                <div class="col s12 header">Manager Login</div>
                <form class="col s12" ng-submit="logIn()">
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="mdi-editor-format-underline prefix"></i>
                      <input id="manager-username" type="text" class="validate" data-ng-model="loginUsername">
                      <label for="manager-username">Username</label>
                    </div>
                    <div class="input-field col s12">
                      <i class="mdi-communication-vpn-key prefix"></i>
                      <input id="manager-password" type="password" class="validate" data-ng-model="loginPassword">
                      <label for="manager-password">Password</label>
                    </div>
                    <div class="input-field col s12">
                      <button class="btn waves-effect waves-light green" type="submit" name="action"><i class="large mdi-action-lock-open"></i> Login</button>
                    </div>
                  </div>
                </form>
                <div class="col s12 transparent black-text">
                  <img ng-src="img/ajax.gif" ng-show="loginLoader" class="small-loader" alt="login loader" />
                </div>
                <div class="col s12 card-panel transparent red-text">
                  <div class="col s12 bolded" ng-bind="LoginMessage"></div>
                </div>
              </div>
            </div>

            <div id="signupTab" class="col s12 card-panel">
              <div class="row">
                <div class="col s12 header">Manager SignUp</div>
                <form class="col s12" ng-submit="signUp()">
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="mdi-action-account-circle prefix"></i>
                      <input  id="manager-name" type="text" class="validate tooltipped" data-ng-model="signupName" data-position="right" data-delay="50" data-tooltip="Min of 5 characters and no numbers">
                      <label for="manager-name">Name</label>
                    </div>
                    <div class="col s12 card-panel transparent red-text" ng-show="signupNameErrorMessage">
                      <div class="col s12 smallBolded" ng-bind="signupNameErrorMessage"></div>
                    </div>
                    <div class="input-field col s12">
                      <i class="mdi-editor-format-underline prefix"></i>
                      <input id="manager-username" type="text" class="validate tooltipped" data-ng-model="signupUsername" data-position="right" data-delay="50" data-tooltip="Min of 5 characters">
                      <label for="manager-username">Username</label>
                    </div>
                    <div class="col s12 card-panel transparent red-text" ng-show="signupUsernameErrorMessage">
                      <div class="col s12 smallBolded" ng-bind="signupUsernameErrorMessage"></div>
                    </div>
                    <div class="input-field col s12">
                      <i class=" mdi-communication-email prefix"></i>
                      <input id="manager-email" type="email" class="validate tooltipped" data-ng-model="signupEmail" data-position="right" data-delay="50" data-tooltip="example: sample@domain.com">
                      <label for="manager-email">Email</label>
                    </div>
                    <div class="col s12 card-panel transparent red-text" ng-show="signupEmailErrorMessage">
                      <div class="col s12 smallBolded" ng-bind="signupEmailErrorMessage"></div>
                    </div>
                    <div class="input-field col s12">
                      <i class="mdi-communication-vpn-key prefix"></i>
                      <input id="manager-password" type="password" class="validate tooltipped" data-ng-model="signupPassword" data-position="right" data-delay="50" data-tooltip="Min of 8 characters and must contain at least a number">
                      <label for="manager-password">Password</label>
                    </div>
                    <div class="col s12 card-panel transparent red-text" ng-show="signupPasswordErrorMessage">
                      <div class="col s12 smallBolded" ng-bind="signupPasswordErrorMessage"></div>
                    </div>
                    <div class="input-field col s12">
                      <button class="btn waves-effect waves-light teal darken-4" type="submit" name="action"><i class="large mdi-action-perm-identity"></i> Sign Up</button>
                    </div>
                  </div>
                </form>
                <div class="col s12 transparent black-text">
                  <img ng-src="img/ajax.gif" ng-show="signupLoader" class="small-loader" alt="signup loader" />
                </div>
                <div class="col s12 card-panel transparent black-text" ng-show="signupMessage">
                  <div class="col s12 smallBolded" ng-bind="signupMessage"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m3 l4 transparent-text">Text</div>

      </div>
    </div>
</div>